langchain_core
ollama
chromadb
pandas
numpy
nltk
python-dotenv
langchain_community
langchain-ollama
langchain-chroma
langchain-huggingface
langchain-text-splitters
langchain-experimental
pypdf
pymupdf
sentence-transformers
pydantic
pydantic-settings
python-multipart
fastapi
uvicorn
